
{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      
            <div align="center">
        <h1>Módulo en construcción</h1>
        <h4>Estamos trabajando para ofrecerte más funcionalidades.</h4>
    </div>
   
    <div align="center" >
      <img src="{% static 'base/img/Rama.png' %}" style="width: 360px; height: 250px;">
      <img src="{% static 'base/img/construction.jpg' %}" style="width: 385px; height: 259px;">
    </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}