{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<!--
  Botón leer más
<div class="container">
  <button type="button" class="btn btn-primary mt-5" data-toggle="collapse" data-target="#demo">Leer mas</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
-->

<link href="{% static  'base/css/contacto.css' %}" rel="stylesheet">




<div class="container-fluid">

<br>

<div class="container" >
  <div class="row justify-content-center align-items-center">


    <div class="card" style="width: 3rem;" id="redes">
        <a href="https://www.instagram.com/ieee_etitc/" target="_blank">
        <img class="card-img-top" src="{% static 'base/img/instagram.png' %}" alt="Card image cap"> 
    </div>

    &nbsp &nbsp

    <div class="card" style="width: 3rem;" id="redes">
        <a href="https://es-la.facebook.com/IEEE.ETITC" target="_blank">
        <img class="card-img-top" src="{% static 'base/img/facebook.png' %}" alt="Card image cap">
    </div>

    &nbsp &nbsp

    <div class="card" style="width: 3rem;" id="redes">
        <a href="https://twitter.com/ieee_etitc" target="_blank">
        <img class="card-img-top" src="{% static 'base/img/twiter.png' %}" alt="Card image cap">
    </div>

    &nbsp &nbsp

    <div class="card" style="width: 3rem;" id="redes">
        <a href="https://www.youtube.com/channel/UCMKkreNChdnPPAxoPYwaOIw" target="_blank">
        <img class="card-img-top" src="{% static 'base/img/youtube.png' %}" alt="Card image cap">
    </div>

  </div>
</div>

<br>
  <div class="row justify-content-center align-items-center mt-1">

    

    <div class="card" style="width: 30rem;" id="sombra">
      
      <div class="card-body" >
        <h5 style="text-align: center;" >Escuela Tecnológica Instituto Técnico Central</h5>
        <hr>
      <img class="card-img-top" src="{% static 'base/img/sede.jpg' %}" alt="Card image cap"> 
      <br><br>
      <h6 style="text-align: justify;">La Escuela Tecnológica Instituto Técnico Central, Establecimiento Público de Educación Superior, fue
         fundada por los Hermanos de La Salle el 19 de marzo de 1904 y creado mediante el Decreto No. 146 del 9 
         de febrero de 1905 bajo el nombre de Escuela Central de Artes y oficios de Bogotá. El Decreto 721 del 4
         de abril de 1919, expedido por el presidente Marco Fidel Suárez estableció que la Escuela Central se
         denominaría en lo sucesivo INSTITUTO TÉCNICO CENTRAL. </h6>
      <h6 style="text-align: justify;">
         Posteriormente fue reestructurado por el Decreto 
         758 del 26 de abril de 1988, se declaró al Instituto Técnico Central ESTABLECIMIENTO PÚBLICO DE EDUCACIÓN
         SUPERIOR con personería jurídica, patrimonio propio y autonomía administrativa, adscrito al Ministerio
         de Educación Nacional, además, en este año, mediante Resolución No. 8705 del 5 de julio, el Ministerio 
         de Educación Nacional, autoriza la experimentación del Plan de Estudios para la Especialidad de Sistemas 
         y Computación en el Instituto Técnico Central. Tiempo después se posicionó como la primera Escuela Tecnológica
          oficial de Colombia el 1 de diciembre de 2006, y al día de hoy ofrece programas de Técnico Profesional, Tecnólogo, 
          Profesional en Ingenierías, Especializaciones, Diplomados, Educación a Distancia y Educación Continuada, con una 
          población actual de 2868 estudiantes y 176 docentes.</h6>
      </div>
    </div>

    <div>
      <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
    </div>

  

    <div class="card" style="width: 30rem;" id="sombra" id="tarjeta">
      <br>
      <div class="card-body" >
        <h5 style="text-align: center;" >IEEE</h5>
        <hr>
        <img class="card-img-top" src="{% static 'base/img/ieee.png' %}" alt="Card image cap"> 
        <br><br>
        <h6 style="text-align: justify;">El Instituto de Ingenieros Eléctricos y Electrónicos
           (IEEE por sus siglas en inglés: Institute of Electrical and Electronics Engineers),
            es una asociación internacional sin ánimo de lucro, que se dedica a la normalización
            y al desarrollo en áreas técnicas. Con más de 420000 1 miembros y voluntarios conformados 
            por ingenieros, científicos, tecnólogos, técnicos, estudiantes y profesionales de más 
            de 160 países, que se dedican a la investigación científica, la innovación tecnológica 
            y a la excelencia en beneficio de la humanidad; es la organización profesional 
            técnica más grande del mundo. </h6>
            
        <h6 style="text-align: justify;">Fue formado el 1 de enero de 1963 con la fusión de dos 
            organizaciones existentes, el American Institue of Electrical Engineers (AIEE), fundada en 1884 
            por Thomas Alba Edison y Alexander Graham Bell, entre otros, y el Institute of Radio Engineers 
            (IRE), fundada en 1912. Aunque para esa época los temas de interés eran las telecomunicaciones y 
            la ingeniería eléctrica, actualmente abarca una amplia gama de tecnologías que van desde 
            nanotecnología hasta la ingeniería oceánica, pasando por bioingeniería, robótica, 
            electromagnetismo, sistemas aeroespaciales, inteligencia artificial, medicina y biología, 
            teoría de la información, procesamiento de señales, entre otras. En la actualidad está conformada 
            por 39 sociedades técnicas a nivel mundial con profesionales en matemáticas aplicadas e 
            ingenierías como la eléctrica, electrónica, mecatrónica, en computación, de sistemas, biomédica, 
            en telecomunicaciones, telemática, social, cibernética, de software, industrial, etc. A nivel 
            mundial el IEEE está dividido en 10 regiones, con 334 subregiones. IEEE Sección Colombia hace 
            parte de la región 9, conformada por países de Latinoamérica, y en Colombia, se subdivide en zonas, 
            perteneciendo Bogotá a la Zona Centro, a la cual pertenece la Escuela Tecnológica Instituto Técnico 
            Central. </h6>
        </div>
    
    </div>
    

    <div>
      <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
    </div>

    <div class="card" style="width: 30rem;" id="sombra">
      <div class="card-body" >
        <h5 style="text-align: center;" >Rama Estudiantil IEEE-ETITC</h5>
        <hr>
        <img class="card-img-top" src="{% static 'base/img/grupo.jpg' %}" alt="Card image cap"> 
        <br><br>
        <h6 style="text-align: justify;">La Rama Estudiantil IEEE-ETITC, fue constituida en el año 2012
           por Stephani Rodríguez, egresada de la carrera de Mecatrónica, en compañía de otros estudiantes, 
           y como profesores consejeros del grupo, los Ingenieros Carlos Murillo y Sócrates Amador, actual 
           decano de la facultad de Ingeniería de Sistemas.</h6>
        <h6 style="text-align: justify;">A lo largo de esos 7 años, el grupo estudiantil
           ha logrado acoger estudiantes de múltiples carreras que llegan allí, buscando un lugar en dónde 
           compartir o alimentar sus conocimientos, participando en diferentes actividades de tipo Técnico, 
           social e investigativo, como competencias de robótica y programación competitiva, talleres o
           workshops en temas como robótica con el diseño de robots basados en las tarjetas de desarrollo 
           Arduino y Raspberry Pi, modelado e impresión 3D, y cursos de programación en Python y micro Python
           con la tarjeta de desarrollo ESP8266, organización de eventos nacionales como el Arduino Day y el 
           concurso de robótica de la Escuela ROBOETITC, la participación en concursos de robótica en
           diferentes países como México, Ecuador, Rumania, China, entre otros; así como también la
           planificación y ejecución de actividades sociales enfocadas a promover el estudio de alguna 
           ingeniería en niñas y adolescentes, y la repartición de regalos en poblaciones vulnerables como
           fundaciones de niños y adulto mayor. </h6>
        </div>
    
    </div>

    


  </div>
</div>

<br>

<div class="container" >
  <div class="row justify-content-center align-items-center">


    <div class="card" style="width: 5rem;" id="redes">
        <a href="https://www.instagram.com/ieee_etitc/" target="_blank">
        <img class="card-img-top" src="{% static 'base/img/instagram.png' %}" alt="Card image cap"> 
    </div>

    &nbsp &nbsp

    <div class="card" style="width: 5rem;" id="redes">
        <a href="https://es-la.facebook.com/IEEE.ETITC" target="_blank">
        <img class="card-img-top" src="{% static 'base/img/facebook.png' %}" alt="Card image cap">
    </div>

    &nbsp &nbsp

    <div class="card" style="width: 5rem;" id="redes">
        <a href="https://twitter.com/ieee_etitc" target="_blank">
        <img class="card-img-top" src="{% static 'base/img/twiter.png' %}" alt="Card image cap">
    </div>

    &nbsp &nbsp

    <div class="card" style="width: 5rem;" id="redes">
        <a href="https://www.youtube.com/channel/UCMKkreNChdnPPAxoPYwaOIw" target="_blank">
        <img class="card-img-top" src="{% static 'base/img/youtube.png' %}" alt="Card image cap">
    </div>

  </div>
</div>

<br>


{% endblock %}