{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<br>
<div class="container">
<div class="row justify-content-center align-items-center minh-100">

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'base/img/instagram.png' %}" alt="Card image cap">
    <div class="card-body" align="center">
      <a href="https://www.instagram.com/ieee_etitc/" class="btn btn-primary">Instagram</a>
    </div>
</div>

<br>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'base/img/facebook.png' %}" alt="Card image cap">
    <div class="card-body" align="center">
      <a href="https://es-la.facebook.com/IEEE.ETITC" class="btn btn-primary">Facebook</a>
    </div>
</div>

<br>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'base/img/twiter.png' %}" alt="Card image cap">
    <div class="card-body" align="center">
      <a href="https://twitter.com/ieee_etitc" class="btn btn-primary">Twitter</a>
    </div>
</div>

<br>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'base/img/youtube.png' %}" alt="Card image cap">
    <div class="card-body" align="center">
      <a href="https://www.youtube.com/channel/UCMKkreNChdnPPAxoPYwaOIw" class="btn btn-primary">YouTube</a>
    </div>
</div>

</div>
</div>


{% endblock %}