{% extends 'base/base.html' %}
{% load static %}

{% block usuario %}
{% endblock%}
{% block page_content %}

  <!-- Page Heading -->
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-4 my-2 d-none d-lg-block"></div>
              <div class="card-signin my-5">
                <div class="p-3">
                  <div class="text-center">
                  </div>
                  <div class="card-body">
                  <p class="card-text text-center"><strong>Inicio de sesión</strong></p>
                </div>
                  <div>
                  <img class="card-img-top mb-1 p-4" src="{% static 'base/img/Rama.png' %}" alt="" width="240px" height="227px">
                  </div>
                  <form class="card-body" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="id_username" name="username" aria-describedby="emailHelp" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="id_password" name="password" placeholder="Contraseña">
                    </div>

                    {# { form.as_p } #}

                    <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar sesión</button>
                    <a  class="nav-link btn " href="{% url 'bases:recuperar' %}">Olvidé mi contraseña</a>
                  </div>
              </div>

      </div>

    </div>

  </div>

{% endblock %}


{% block js_page %}
<script>
  {% if form.errors %}
      {% for field in form %}
          {% if field.errors %}
              {% for error in field.errors %}
                mensaje('{{ error|escape }}','red');
              {% endfor %}
          {% endif %}
      {% endfor %}
  
      {% if form.non_field_errors%}
          {% for error in form.non_field_errors %}
            mensaje('{{ error|escape }}','red');
          {% endfor %}
      {% endif %}
  {% endif %}
</script>
{% endblock %}